@import '/src/index.scss';

.card {
    background: white;
    width: 400px;
    box-shadow:  0 70px 60px -40px rgb(0 0 0 / 10%);
    border-radius: 40px;
    overflow: hidden;
    &__image {
        width: 100%;
    }
    &__title,
    &__description {
        text-align: center;
    }
    &__stats {
        margin-top: 40px;
        height: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
    }
    &__rate,
    &__comments {
        &__title {
            font-weight: bold;
        }
    }
}
