@import './app/static/styles/reset';
@import './app/static/styles/variables';
@import './app/static/styles/extends';

@font-face {
    font-family: "BebasNeue";
    src: url("@static/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}

html {
    font-family: "BebasNeue", sans-serif;
    scroll-behavior: smooth;
}